body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #d30d0d;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #c01717;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

section {
    padding: 2em;
}

footer {
    background-color: #c01717;
    color: #fff;
    padding: 1em;
    text-align: center;
}