{% extends "plantilla.html" %}

{% block titulo %} PAGINA NAVIDEÑA {% endblock %}

{% block contenido %}

{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/estilos.css" %}">
</head>
<body>
    <!--carrusel-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'imagenes/empresa.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'imagenes/empresa01.jpg' %}" alt="">
            </div>
          <div class="col-md-6 old">
            <h1 style="font-family: 'Times New Roman', Times, serif;">LA EMPRESA</h1><br>
            <h2 style="font-family: 'Times New Roman', Times, serif;">
              Fundada en 1977, CASA NAVIDAD abre sus puertas siendo así la primera y única empresa del país dedicada exclusivamente a los artículos navideños. Desde entonces, la misma cuenta con un espacio sobre Avenida Diagonal Norte (a metros del obelisco) donde podrá encontrar la más alta gama de productos decorativos tanto para el interior o árboles como también para el exterior.
            </h2>
          </div>
        </div>

        <br><br>
        <div class="row">
            <div class="col-md-6 old">
                <h2 style="font-family: 'Times New Roman', Times, serif;">
                    CASA NAVIDAD ha sido siempre reconocida en la industria navideña como pionera en cuanto a exclusividad de diseños e incorporación de las últimas tendencias.

                    Tenemos el color y la calidez para que el hogar o la empresa se ambiente en el amable clima de las fiestas por excelencia: Árboles, adornos, luces, guirnaldas y pesebres entre otros.
                </h2>
              </div>
            <div class="col-md-6">
                <img src="{% static 'imagenes/empresa02.jpg' %}" alt="">
            </div>
        </div><br><br>


        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'imagenes/empresa03.jpeg' %}" alt="">
            </div>
          <div class="col-md-6 old">
            <h2 style="font-family: 'Times New Roman', Times, serif;">
              Fundada en 1977, CASA NAVIDAD abre sus puertas siendo así la primera y única empresa del país dedicada exclusivamente a los artículos navideños. Desde entonces, la misma cuenta con un espacio sobre Avenida Diagonal Norte (a metros del obelisco) donde podrá encontrar la más alta gama de productos decorativos tanto para el interior o árboles como también para el exterior.
            </h2>
          </div>
        </div>
    </div>
<!--redes social-->
<div class="container">
    <br>
    <center>
      <h1 style="font-family: 'Times New Roman', Times, serif; color: red;">Seguimos en Nuestras Redes Sociales</h1>
    </center>
    <div class="row">
      <div class="col-md-4">
        <a href="https://www.instagram.com/casa.navidad.store/">
          <img src="{% static 'imagenes/insta.png' %}" alt="" width="300px">
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://www.facebook.com/profile.php?id=100064604597152">
          <img src="{% static 'imagenes/f.jpg' %}" alt="" width="300px">
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://www.tiktok.com/@casanavidad">
          <img src="{% static 'imagenes/tik.jpg' %}" alt="" width="300px">
        </a>
      </div>
    </div>
  </div>

      
      





</body>
</html>




{% endblock %}