{% extends "plantilla.html" %}

{% block titulo %} INCIO DE LA PAGINA NAVIDEÑA {% endblock %}

{% block contenido %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAVIDAD</title>
    <link rel="stylesheet" href="styles.css" type="text/css" rel="stylesheet">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{ static "css/fiesta.css"}">
    
</head>
<body style="background-image: url(''); background-size: cover;">

     <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <h1>Como se Celebra</h1>
            </div>
          </div>
     
     </div>
     <div class="container text-center">
        <h2>
            <b>Historia de la Navidad: qué se celebra</b>
        </h2>
     </div>

     <div class="container text-center">
        <a  class="navbar-brand">
            <img src="{% static 'imagenes/nav01.avif' %}" alt="">
        </a>
     </div>
     <br>

     <div class="container">
        <h3>La Navidad conmemora el Nacimiento del niño Jesús, una gran fiesta para la humanidad que celebra la unión de la familia y el reencuentro con el Espíritu Santo. <br><br>
            La palabra Navidad proviene del latín nativitas que significa nacimiento. Actualmente, refiere al nacimiento del hijo de Dios, aunque históricamente no se tiene una fecha precisa del advenimiento. <br><br>
            La festividad del nacimiento del Niño Jesús fue introducida en la Iglesia católica en el siglo IV. Fue en el año 345 cuando finalmente se le da un carácter oficial gracias a la intervención de San Juan Crisóstomo y San Gregorio de Nacianceno. <br><br>
            Durante la Edad Media los principales líderes religiosos de la Iglesia Católica, basándose en las escrituras de San Mateo y San Lucas, decidieron sustituir las fiestas paganas romanas celebradas en honor al solsticio de invierno y al Dios Sol. <br><br>
            Las festividades dedicadas al Sol Invictus o “Inconquistado” eran muy populares.  Estaba dedicada al nacimiento del sol y era grandemente alabado por los emperadores hasta la institución del cristianismo, cuando el imperio se convirtió a una única fe. Este culto al sol precisamente se celebraba entre el 21 y el 25 de diciembre.</h3>
     </div>

     <br>

     <div class="container text-center">
        <h2>
            <b>Origen de la Navidad</b>
        </h2>
     </div>

     <div class="container text-center">
        <a  class="navbar-brand">
            <img src="{% static 'imagenes/nav02.jpg' %}" width="700px" height="400px" alt="">
        </a>
     </div>
     <br>

     <div class="container">
        <h3>La primera navidad en Latinoamérica sucedió, por intervención de la conquista y dominio español, el 25 de diciembre de 1492. <br><br>
            Esta primera Navidad fue celebrada en la Hispaniola actual República Dominicana. Colón tuvo problemas con uno de sus barcos, la Santa María y, al resguardo de los indígenas, logró construir un fuerte llamado Navidad, donde fue celebrada la fecha religiosa. <br><br>
            En Ecuador las tradiciones navideñas han ido expandiéndose a lo largo del tiempo y bajo influencia de culturas extranjeras. <br><br>
            Originalmente en el país los actos más tradicionales a celebrar eran el rezo de la novena de Jesús, que comenzaba unos diez días antes del 25 de diciembre. También se construía el Belén o nacimiento y se realizaba la Misa de medianoche o del gallo. <br><br>
            En los últimos cincuenta años se han ido agregando el árbol de navidad, el papá Noel, y otras costumbres como los adornos de las calles y plazas con luces festivas en honor a la celebración.</h3>
     </div>
     <br>


     <div class="container text-center">
        <h2>
            <b>Cómo se celebra el Día de Navidad</b>
        </h2>
     </div>

     <div class="container text-center">
        <a  class="navbar-brand">
            <img src="{% static 'imagenes/nav03.jpg' %}" width="700px" height="400px" alt="">
        </a>
     </div>
     <br>

     <div class="container">
        <h3>En lugares como Carchi, Imbabura y el Chimborazo, la Navidad se adorna con luces en las principales calles de la ciudad. Los espectáculos de luces reúnen a las familias y ofrecen una vista festiva diferente en los lugares concurridos. <br><br>
            En Tungurahua la navidad se celebra con dulces tradicionales. Las comidas se acompañan con tamales, buñuelos, empanadas de morocho. Son dulces muy populares para estas fiestas y las familias suelen acompañar la cena navideña con ellos. <br><br>
            En Cañar, Bolívar y en Cuenca la Navidad se celebra con los tradicionales rezos al niño Jesús, todos los años las familias se reúnen de casa en casa, elaborando la novena que da la bienvenida al niño Dios. En estas ciudades también se realizan los tradicionales adornos del árbol de navidad y el nacimiento o Belén, como en el resto del país.</h3>
     </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>


{% endblock %}