{% extends "plantilla.html" %}

{% block titulo %} PAGINA NAVIDEÑA {% endblock %}

{% block contenido %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--carrusel-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'imagenes/globos.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><br>

      <div class="container">
        <div class="row">
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-4">
          <img src="{% static 'imagenes/glo01.jpeg' %}" class="img-fluid img-thumbnail" alt="Responsive image" >
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo02.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo03.jpeg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>

        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-4">
          <img src="{% static 'imagenes/glo04.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image" >
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo05.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo06.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>

        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-4">
          <img src="{% static 'imagenes/glo07.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image" >
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo08.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo09.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>

        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-4">
          <img src="{% static 'imagenes/glo10.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image" >
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo11.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo12.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>

        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-4">
          <img src="{% static 'imagenes/glo13.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image" >
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo14.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo15.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>


        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-4">
          <img src="{% static 'imagenes/glo16.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image" >
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo17.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo18.jpeg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>

        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-4">
          <img src="{% static 'imagenes/glo19.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image" >
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo19.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>
        <div class="transparent col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <img src="{% static 'imagenes/glo20.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
        </div>

      </div>


      <!--redes sociales-->
      <div class="container">
        <br>
        <center>
          <h1 style="font-family: 'Times New Roman', Times, serif; color: red;">Seguimos en Nuestras Redes Sociales</h1>
        </center>
        <div class="row">
          <div class="col-md-4">
            <a href="https://www.instagram.com/casa.navidad.store/">
              <img src="{% static 'imagenes/insta.png' %}" alt="" width="300px">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.facebook.com/profile.php?id=100064604597152">
              <img src="{% static 'imagenes/f.jpg' %}" alt="" width="300px">
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://www.tiktok.com/@casanavidad">
              <img src="{% static 'imagenes/tik.jpg' %}" alt="" width="300px">
            </a>
          </div>
        </div>
      </div>




</body>
</html>





{% endblock %}